/*	============================================================
	Reset
	============================================================	*/

* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing:border-box;
    font-smoothing:antialiased;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    display: block;
}

ul, ol {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, button, select, textarea {
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
}

.responsive-media {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.responsive-media iframe,
.responsive-media object,
.responsive-media embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/*	============================================================
	Structure
	============================================================	*/

.row {
    margin: 0px -15px 0 -15px;
    position: relative;
}

.row::after,
.row::before,
.clearfix::after,
.clearfix::before {
    clear: both;
    content: "";
    display: table;
}

.container-fixed {
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;
}

.col-01, .col-02, .col-03, .col-04, .col-05, .col-06, .col-07, .col-08, .col-09, .col-10, .col-11, .col-12 {
    box-sizing: border-box;
    padding: 0 15px 0 15px;
}


@media (min-width:768px) {
}

@media (min-width:1024px) {

    .container-fixed {
        width: 768px;
    }

    .col-01, .col-02, .col-03, .col-04, .col-05, .col-06, .col-07, .col-08, .col-09, .col-10, .col-11, .col-12 {
        float: left;
    }

    .col-01 { width: 80px; }
    .col-02 { width: 160px; }
    .col-03 { width: 25%; }
    .col-04 { width: 33.333333%; }
    .col-05 { width: 400px; }
    .col-06 { width: 50%; }
    .col-07 { width: 560px; }
    .col-08 { width: 640px; }
    .col-09 { width: 720px; }
    .col-10 { width: 800px; }
    .col-11 { width: 880px; }
    .col-12 { width: 100%; }

}

@media (min-width:1200px) {


}
@media (min-width:480px) {}
@media (min-width:320px) {}
